
body {
  background-color: #DEB6AB;
}

hr {
  background-color: white;
  border-style: none;
  height: 2px;
  /* border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%; */
}

img {
  height: 200px;
}

h1 {
  color: #85586F;
}

h3 {
  color: #AC7D88;
}
